<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [101]:
#!pip install pandas

In [102]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://drive.google.com/open?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI

In [103]:
data = pd.read_csv('https://drive.google.com/uc?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI')

Посмотрим, что же такое переменная `data`:

In [104]:
data

        User_ID Product_ID  ... Product_Category_3 Purchase
0       1000001  P00069042  ...                NaN     8370
1       1000001  P00248942  ...               14.0    15200
2       1000001  P00087842  ...                NaN     1422
3       1000001  P00085442  ...                NaN     1057
4       1000002  P00285442  ...                NaN     7969
...         ...        ...  ...                ...      ...
537572  1004737  P00193542  ...                NaN    11664
537573  1004737  P00111142  ...               16.0    19196
537574  1004737  P00345942  ...                NaN     8043
537575  1004737  P00285842  ...                NaN     7172
537576  1004737  P00118242  ...                NaN     6875

[537577 rows x 12 columns]

In [105]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [106]:
data.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [107]:
data['Age']

0          0-17
1          0-17
2          0-17
3          0-17
4           55+
          ...
537572    36-45
537573    36-45
537574    36-45
537575    36-45
537576    36-45
Name: Age, Length: 537577, dtype: object

In [108]:
data['Age'].value_counts()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

In [109]:
data['Age'].value_counts().shape

(7,)

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [110]:
data[data['Gender'] == 'M'][data['City_Category'] == 'A']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

        User_ID Product_ID  ... Product_Category_3 Purchase
5       1000003  P00193542  ...                NaN    15227
9       1000005  P00274942  ...                NaN     7871
10      1000005  P00251242  ...                NaN     5254
11      1000005  P00014542  ...                NaN     3957
12      1000005  P00031342  ...                NaN     6073
...         ...        ...  ...                ...      ...
537566  1004736  P00048742  ...                NaN     5350
537567  1004736  P00157542  ...                NaN     1994
537568  1004736  P00250642  ...                NaN     5930
537569  1004736  P00023142  ...                NaN     7042
537570  1004736  P00162442  ...                NaN    15491

[109831 rows x 12 columns]

In [111]:
data[data['Gender'] == 'M'][data['City_Category'] == 'A'].shape[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

109831

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [112]:
data[data['Gender'] == 'F'][data['Age'] == '46-50'][data['Purchase'] > 20000]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

        User_ID Product_ID  ... Product_Category_3 Purchase
1106    1000187  P00247642  ...                NaN    20771
5620    1000905  P00052842  ...                NaN    23449
8982    1001376  P00255842  ...                NaN    20425
10833   1001654  P00035442  ...                NaN    20810
13697   1002038  P00109242  ...               10.0    20214
...         ...        ...  ...                ...      ...
534571  1004305  P00259942  ...                NaN    20575
534581  1004305  P00093642  ...                NaN    20688
535312  1004408  P00101342  ...                NaN    20257
536807  1004614  P00116142  ...               16.0    23904
537005  1004651  P00103642  ...                NaN    20698

[270 rows x 12 columns]

In [113]:
data[data['Gender'] == 'F'][data['Age'] == '46-50'][data['Purchase'] > 20000].shape[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [114]:
data['Product_Category_3']

0          NaN
1         14.0
2          NaN
3          NaN
4          NaN
          ...
537572     NaN
537573    16.0
537574     NaN
537575     NaN
537576     NaN
Name: Product_Category_3, Length: 537577, dtype: float64

In [115]:
np.isnan(data['Product_Category_3']).value_counts()

True     373299
False    164278
Name: Product_Category_3, dtype: int64

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [116]:
data[(data['Gender'] == 'M') & (data['Age'] == '26-35')]

        User_ID Product_ID  ... Product_Category_3 Purchase
5       1000003  P00193542  ...                NaN    15227
9       1000005  P00274942  ...                NaN     7871
10      1000005  P00251242  ...                NaN     5254
11      1000005  P00014542  ...                NaN     3957
12      1000005  P00031342  ...                NaN     6073
...         ...        ...  ...                ...      ...
537540  1004732  P00124642  ...                NaN    16610
537541  1004732  P00051442  ...                NaN     9877
537542  1004732  P00085242  ...               17.0    10036
537543  1004732  P00117242  ...                NaN     7802
537544  1004732  P00093342  ...               18.0    11535

[165342 rows x 12 columns]

In [117]:
ages = list(data['Age'].value_counts().index)
ages = sorted(ages)
ages = ages[3:]
ages

['36-45', '46-50', '51-55', '55+']

In [122]:
cnt = 165342
cnt += data[(data['Gender'] == 'F') & (data['Age'].isin(ages))].shape[0]
'''for i in ages:
  cnt += data[(data['Gender'] == 'F') & (data['Age'] == i)].shape[0]'''
cnt

219181

In [123]:
cnt /= data.shape[0]
print(cnt)
print(round(cnt, 4))

0.4077201963625676
0.4077

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).